<div class="container mt-5">
  <div class="card border-light mx-auto">
    <div class="card-header bg-secondary text-white">
      <h1 class="card-title text-center">Favorite Products</h1>
    </div>
    <div class="card-body">
      <ol class="list-group list-group-flush">
        <% if @favorited_products != [] %>
          <% @favorited_products.each_with_index do |product, index| %>
            <li class="list-group-item"><%= index + 1 %>. <%= link_to product.title, product_path(product), class: 'no-underline' %></li>
          <% end %>
        <% else %>
          <li class="list-group-item">No favorites ...yet</li>
        <% end %>
      </ol>
    </div>
  </div>
</div>