<h2>All questions</h2>
<%= button_to "New Question", new_question_path, :method => :get %>
<% @questions.each do |question| %>
    <div>
        <h3><%= link_to(question.title,question_path(question)) %> </h3>
    </div>
<% end %>