<div class="container mt-5"></div>
  <div class="card border-light mx-auto">
    <div class="card-header bg-secondary text-white">
      <h1 class="card-title text-center">New News Article</h1>
    </div>
    <div class="card-body">
      <%= render 'form', news_article: @news_article %>
    </div>
  </div>
</div>